<html>
  <head>
        <title>Case Status</title>

        <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css" data-turbolinks-track="reload" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js" data-turbolinks-track="reload"></script>
          <style>
    input{
      font-size: 25px;
    }
  </style>
  </head>

  <body>
    <center>
        <form action="/" accept-charset="UTF-8" method="post" style="font-size: 35px">
          <div>
          <h1>Your case/receipt number:</h1>
            <label for="receipt_number">Case/Receipt Number:</label>
            <input id="case-number" type="case" name="receipt_number" />
          </div>
          <h1>Verify your phone number</h1>
          <div>
            <label for="authy-countries">Country code:</label>
            <select name="country_code" id="authy-countries" data-show-as="number"></select>
          </div>
          <div>
            <label for="phone_number">Phone number:</label>
            <input type="tel" name="phone_number" id="phone_number" />
          </div>
          <div>
            <p>Verification method</p>
            <label for="method_sms">SMS: </label>
            <input type="radio" name="method" id="method_sms" value="sms" style="height:25px; width:25px;" />
            <label for="method_call">Call: </label>
            <input type="radio" name="method" id="method_call" value="call" style="height:25px; width:25px;" />
          </div>
          <button name="button" type="submit" style="font-size: 40px">Verify</button>
        </form>
    </center>
  </body>
</html>
